@import url(https://fonts.google.com/specimen/Roboto);

* {
    padding: 0;
    margin: 0;
}

/*Heading and background*/

body {
    background-color: rgb(224, 224, 117);
    background-size: cover;
}

h1 {
    font-size: 50px;
    font-family: roboto;
    color: rgb(10, 10, 10);
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    border-style: groove;
    border-width: 10px;
    text-transform: uppercase;
    margin: 10px 5px;
    z-index: 2;
}

/*Reusable styles*/

.hide {
    display: none;
}

.show {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 5px;
}

.box {
    width: 30%;
    
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
}

.instructions {
    padding: 10px;
    width: 90%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.hand-cursor {
    cursor: pointer;
}

/*Modal container*/

.container {
    width: 60%;
    height: 50%;
    text-align: center;
    background-color: rgb(224, 224, 117);
    background-size: contain;
    border: 2px solid black;
    border-radius: 30px;
}

#usernameDialog {
    width: 96%;
    height: 100%;
    position: absolute;
    display: flex;
    margin: 0 15%;
    align-items: center;
    justify-content: center;
    background-color: rgba(6, 6, 6, 0.5);
    background-size: cover;
    color: rgb(3, 3, 3);
    font-weight: 400;
    font-size: 2em;
    z-index: 0;
}

input {
    height: 30px;
    margin-top: 25px;
}

/*Game section, game play, game cards*/

#game-area {
    width: 100%;
    position: relative;
}

.btn {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
}

.btn:hover {
    background-color: rgb(101, 244, 101);
}

.card-section {
    width: 60%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1px;
    row-gap: 1px;
}

.card {
    width: 100%;
    height: 100%;
}

.card img {
    border-radius: 30px;
    height: 90%;
    width: 90%;
}

.front {
    display: none;
    box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 1);
}

.back {
    box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 1);
}

#score_timer {
    font-size: 2em;
}

.space-evenly {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}

/*Footer with social media links*/

footer {
    height: 110px;
    border: 2px solid rgb(10, 10, 10);
    padding: 10px;
    margin: 10px 5px;
}

.foot-text {
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    color: rgb(10, 10, 10);
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

.social-media i {
    font-size: 200%;
    padding: 8%;
    color: rgb(10, 10, 10);

}

/*Media query for screens under 950px*/

@media screen and (max-width: 950px) {

    .card-section {
        width: 90%;
    }

    .card img {
        border-radius: 20%;
    }

    #usernameDialog {
        font-weight: 400;
        font-size: 1.2em;
    }

    #score_timer {
        flex-direction: row;
        width: 90%;
        margin: 5px;
    }

    .box {
        width: 88%;
        height: 50%;
        justify-content: center;
        padding: 5px;
    }

    h1 {
        font-size: x-large;
    }

    #game-area {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .foot-text {
        font-size: large;
    }

}

/*Media query for screens under 650px*/

@media screen and (max-width: 650px) {

    .card-section {
        grid-template-columns: repeat(3, 1fr);
    }

    #score_timer {
        font-size: 1.2em;
    }

    input {
        width: 70%;
    }
}