@import url(https://fonts.google.com/specimen/Roboto);

* {
    padding: 0;
    margin: 0;
}

body {
    background: url(../images/BG.png) no-repeat;
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;

}

#usernameDialog {
    width: 20%;
    height: 20%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: absolute;
    background-color: white;
    border: 3px black solid;

}

.btn {
    width: 100%;
    background-color: cornflowerblue;
}

.space-evenly {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}

h1 {
    font-size: 50px;
    font-family: roboto;
    color: white;
    text-align: center;
    animation: animate 1.5s linear infinite;
    padding: 10px;
    border: 2px solid black;
    border-style: groove;
    border-width: 10px;
    margin: 50px 250px;
    text-transform: uppercase;
}
  
 @keyframes animate {
    0% {
    opacity: 0;
    }
    50% {
    opacity: 0.7;
    }
    100% {
    opacity: 0;
    }
};



.card {
    width: 150px;
    height: 150px;
    
}

.card img {
    border-radius: 30px;
    
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.card-section {
    width: 60%;
    height: 90%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1px;
    row-gap: 1px;
    
}

.front {
    display: none;
    height: 160px;
    
    
}

.back {
    border: 5px black solid;
    height: 150px;
    
}

.timer{
    font-size: 10px;
    font-family: "roboto";
    border: 2px solid black;
    background-color: white;
    position: absolute;
    margin: 10px auto;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    border-width: 5px;
    margin: 180px 800px;
    text-transform: uppercase;
    text-align: center;
    
}



